/* CSS Reset */

/* Mobile first approach */
body {
  font-size: 16px;
  padding: 10px;
}

/* Tablet and larger */
@media (min-width: 768px) {
  body {
    font-size: 18px;
    padding: 20px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
    padding: 40px;
  }
}



.website-body{
  background-color: lightgray;
  margin: 0;
  padding-bottom: 5%;
}
.website-header{
    display: flex;
    background-color: rgb(255, 119, 0);
    margin: 0;
    vertical-align: top;
    height: 100px;
    border-radius: 10px;
  }

  .company-logo{
    display: flex;
    margin-left: 20px;
    width: 2 flex;
    padding: 10px;
 
  }


  .gen-paragraph{
    margin-top: 20px;
  }

  .paragraph-1{
    color:rgb(67, 252, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
  }


.paragraph{
  font-size: 30px;
  color: rgba(132, 115, 115, 0.34);
}


.service-list{
  color: rgba(202, 179, 86, 0.511);
  font-size: 30px;
  margin-top: 0;
}

.service-header{
    margin: 0;
    color: maroon;
    text-decoration: underline;
    font-weight: bold;
    padding: 0;
}
.main-header{
  display: flex;
  justify-content: space-evenly;
  flex-basis: content;
  width: 100px;
}


.logo{
  height: 100%;
  width: 100%;
  margin-right: 20px;
}

.web-title{
  margin-left: 20px;
  display: inline-block;
  font-size: 30px;
}
